@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-tap-highlight-color: transparent;
}

.btn {
  @apply py-3 px-9 rounded-full bg-gradient-to-r from-limeGreen to-brightCyan text-white font-semibold border-0 focus:outline-none sm:transition sm:duration-300 sm:hover:opacity-70;
}

.nav-item {
  @apply sm:transition sm:duration-300 sm:border-b-4 sm:border-transparent sm:hover:text-gray-800 sm:hover:border-limeGreen;
}

.footer-item,
.article-item {
  @apply sm:transition sm:duration-300  sm:hover:text-limeGreen;
}

.box {
  box-shadow: -80px 0 80px rgba(0, 0, 0, 0.25), 80px 0 80px rgba(0, 0, 0, 0.25),
    0 80px 80px rgba(0, 0, 0, 0.25);
}

.screen {
  min-height: calc(100vh - 72px);
}

.feature-card img {
  @apply block m-auto sm:m-0;
}

.feature-card h3 {
  @apply text-2xl text-darkBlue my-6;
}

.feature-card p {
  @apply text-gray-400;
}

.article-card {
  @apply bg-white rounded-md overflow-hidden shadow;
}

.article-card div {
  @apply p-6;
}

.article-card div span {
  @apply text-gray-400 text-xs;
}

.article-card div h3 {
  @apply text-lg text-darkBlue my-3 leading-tight;
}

.article-card div p {
  @apply text-gray-400 text-sm;
}

@variants responsive {
  .box-none {
    box-shadow: none;
  }
}
